.searchbar_mobile {
  width: 100%;
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
}
.searchbar_mobile_container {
  position: relative;
}
.search_result {
  background-color: var(--navbar-bg);
  padding: 0.2rem 0.4rem;
  z-index: 4;
  position: absolute;
  width: 100%;
  border: 1px solid var(--breaker);
}
.search_result_item {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 0.3rem;
  padding: 0.2rem 0.4rem;
}
.search_result_item:hover {
  background-color: var(--primary-color);
}

@media screen and (min-width: 1000px) {
  .searchbar_mobile_container {
    display: none;
  }
}
