.main_content_home {
  height: calc(100vh - 3.5rem);
  background-color: var(--main-bg);
}
.category_pills_container {
  padding: 0.2rem;
  display: flex;
  gap: 0.4rem;
  overflow: auto;
  white-space: nowrap;
  border-bottom: 1px solid var(--breaker);
}

.category_pills {
  cursor: pointer;
  background-color: var(--category-pills-bg);
  padding: 0.2rem 0.6rem;
  border-radius: 9999px;
  border: 1px solid var(--pills-border);
}

.video_grid {
  margin-top: 0.4rem;
  display: grid;
  padding-bottom: 2.2rem;

  max-width: 100%;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 550px) {
  .video_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .main_content_home {
    margin-left: 5rem;
  }
  .video_grid {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
